<div class="content">
    <div class="card">
        <div class="card-header">
          Usuarios Administradores
        </div>
        <div class="content-table">
          <div class="toolbar-table" *ngIf="permissions != null">
            <div class="input-search-mobile" [ngClass]="{'open':searchResponsive}">
              <input type="text" class="search-input-table" placeholder="Buscar" (keyup)="applyFilter($event.target.value)">
              <span class="material-icons" (click)="openSearch()">search</span>
            </div>
            <div class="input-search-desktop">
                <input type="text" class="search-input-table" placeholder="Buscar" (keyup)="applyFilter($event.target.value)">
            </div>
              <div class="toolbar-options">
                <button class="btn-bold" *ngIf="permissions.create" (click)="setOption('create')" title="Crear">
                    <span class="material-icons">add</span>
                </button>
                <button class="btn-bold" *ngIf="permissions.update" (click)="setOption('active')" title="Activar">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-bold" *ngIf="permissions.update" (click)="setOption('inactive')" title="Inactivar">
                    <span class="material-icons">not_interested</span>
                </button>
                <button class="btn-bold" *ngIf="permissions.view" (click)="setOption('refresh')" title="Actualziar">
                    <span class="material-icons">cached</span>
                </button>
              </div>
          </div>
          <div class="section-table first-action">
            <div class="no-records" *ngIf="usuariosAdministradores.length == 0" >
              <span>No hay registros</span>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="table-large">
                <!-- view-->
                <ng-container matColumnDef="view" >
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button class="btn-bold" (click)="option('view',element.usuarioadmin_id)" title="Ver">
                            <span class="material-icons">visibility</span>
                        </button>
                    </td>
                </ng-container>
                <!-- codigo y checkbox -->
                <ng-container matColumnDef="usuarioadmin_id" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-codigo"> Código </th>
                  <td mat-cell *matCellDef="let element"> 
                      <mat-checkbox [checked]="element.selected" [(ngModel)]="element.selected"></mat-checkbox>
                      {{element.usuarioadmin_id}}
                  </td>
                </ng-container>
                <!-- complejo -->
                <ng-container matColumnDef="complejo_nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Complejo </th>
                  <td mat-cell *matCellDef="let element"> {{element.complejo_nombre}} </td>
                </ng-container>
                <!-- Nombre -->
                <ng-container matColumnDef="nombre_completo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
                </ng-container>
                <!-- Usuario -->
                <ng-container matColumnDef="usuario_username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                  <td mat-cell *matCellDef="let element"> {{element.usuario_username}} </td>
                </ng-container>
                <!-- ocupacion -->
                <ng-container matColumnDef="persona_ocupacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocupación </th>
                  <td mat-cell *matCellDef="let element"> {{element.persona_ocupacion}} </td>
                </ng-container>
                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.usuarioadmin_estado == 1" class="item-actions item-active" (click)="updateStatus('inactive',element.usuarioadmin_id)" title="Activo">
                            <span class="material-icons">toggle_on</span>
                        </button>
                        <button *ngIf="element.usuarioadmin_estado == 0" class="item-actions item-inactive" (click)="updateStatus('active',element.usuarioadmin_id)" title="Inactivo">
                            <span class="material-icons">toggle_off</span>
                        </button>
                        <button class="item-actions" (click)="option('update',element.usuarioadmin_id)" title="Editar">
                          <span class="material-icons">create</span>
                        </button>
                    </td>
                </ng-container>                 
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>