/* widgets */
.card.widget-flat {
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 0 28px 0 rgb(154,161,171,0.15);
    margin-bottom: 15px;
}
h5.text-muted {
    font-weight: 300;
    color: #a5a5a5 !important;
    font-size: 16px;
}
h3 {
    font-size: 22px;
    font-weight: 400;
    color: #6c757d;
}

.text-widget-secundary-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}
span.text-widget-secundary {
    font-size: 12px;
    color: #a5a5a5;
    font-weight: 100;
}

/* nuevo */
.icon-mantenimiento span {
    font-size: 45px;
    color: #e6e1e1;
}