
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="./../../assets/images/logo-webtronick2.png" alt="logo" style="width:120px;"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/inicio#services">Servicios</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/inicio#contact">Contáctanos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login">Ingresar</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Administra tu tiempo</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Una forma facil de pasar mas tiempo con tus seres queridos</p>
            </div>
        </div>
    </div>
</header>
<!-- Services-->
<section class="page-services" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Servicios</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h5 mb-2">Debitos automaticos</h3>
                    <p class="text-muted mb-0">Programa tu pago automático para facilitar tú vida</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h5 mb-2">Listado de transacciones</h3>
                    <p class="text-muted mb-0">Chequea todos los cargos y pagos que has realizado en tiempo real</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h5 mb-2">Comunicados</h3>
                    <p class="text-muted mb-0">Te mantenemos informados de los cambios en tu cuenta</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h5 mb-2">Servicios a un click</h3>
                    <p class="text-muted mb-0">PagoEasy te ofrece varios servicios al realizar los pagos con nosotros.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EVITA RETRASOS-->
<section class="page-evita-retrasos bg-dark text-white row nm-row">
    <div class="col-md-5 background-1 nv-m">
        &nbsp;
    </div>
    <div class="col-md-7 text-center">
        <h4 class="mb-4" style="font-size: 21px;">EVITAS LOS CARGOS POR RETRASO DE PAGO.</h4>
        <p>Tu cuenta te mantiene informado del pago sin realizar en el mes corriente.</p>
        <a class="btn-home" href="#">Contáctanos</a>
    </div>
</section>
<!-- About-->
<section class="page-section bg-primary bg-home-demo" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Obtén un Demo</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">Te invitamos a probar nuestra novedosa aplicación, muchos beneficios en un solo lugar.</p>
                <a class="btn-home-light" href="https://webtronick.com/#formulario" target="_blank">Solicitar ahora</a>
            </div>
        </div>
    </div>
</section>
<!-- mantente informado -->
<section class="page-mantente-informado text-white">
    <div class="content-mantente-informado">
        <h1 class="title mb-4">MANTENTE INFORMADO EN TODO MOMENTO</h1>
        <p class="subtitle mb-4">Sistema de mensajería para usuarios.</p>
        <a class="btn-home" href="/inicio#contact">Contáctanos</a>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contáctanos</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Conoce las oportunidades que tenemos para ti!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div><a class="d-block" href="tel:+573173935268">+57 317 3935268</a></div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:danielbolivar@webtronick.com">danielbolivar@webtronick.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer-copyright">
    <div class="container">
        <div class="small text-center text-muted">
            Copyright &copy; {{date}} - Webtronick. Developed by <a href="https://webtronick.com">Webtronick</a>
        </div>
    </div>
</footer>