<!-- LOGIN -->
<div *ngIf="view == 'view'">
    <span class="material-icons close-dialog" (click)="closeDialog()">close</span>
    <h1 class="title-modal-bold">{{title}}</h1>
    <mat-dialog-content style="min-height: 210px;">
        <div class="row">
            <div class="col-md-6">
                <dt>Nombre corto:</dt>
                <dd>{{empresa.empresa_nombrecorto}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Razon Social:</dt>
                <dd>{{empresa.empresa_razonsocial}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Identificación de la empresa:</dt>
                <dd>{{empresa.empresa_tipodni}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Número identificación:</dt>
                <dd>{{empresa.empresa_dni}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Relación:</dt>
                <dd>{{empresa.empresa_tiporelacion}}</dd>
            </div>
            <div class="col-md-6">
                <dt>País:</dt>
                <dd>{{empresa.pais_nombre}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Estado:</dt>
                <dd>{{empresa.estado_nombre}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Ciudad:</dt>
                <dd>{{empresa.ciudad_nombre}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Dirección 1:</dt>
                <dd>{{empresa.empresa_direccion1}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Direccion 2:</dt>
                <dd>{{empresa.empresa_direccion2}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Email:</dt>
                <dd>{{empresa.empresa_correo}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Telefono:</dt>
                <dd>{{empresa.empresa_telefono1}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Ext. Telefono:</dt>
                <dd>{{empresa.empresa_telefonoext1}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Telefono 2:</dt>
                <dd>{{empresa.empresa_telefono2}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Ext. Telefono 2:</dt>
                <dd>{{empresa.empresa_telefonoext2}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Web:</dt>
                <dd>{{empresa.empresa_web}}</dd>
            </div>
            <div class="col-md-6">
                <dt>Status:</dt>
                <dd *ngIf="empresa.empresa_estado == 1">Activo</dd>
                <dd *ngIf="empresa.empresa_estado == 0">Inactivo</dd>
            </div>
        </div>
    </mat-dialog-content>
</div>
<div *ngIf="view == 'create' || view == 'update'">
    <span class="material-icons close-dialog" (click)="closeDialog()">close</span>
    <h1 class="title-modal-bold">{{title}}</h1>
    <mat-dialog-content style="min-height: 210px;">
        <form [formGroup]="formEmpresa">
            <div class="row">
                <div class="col-md-6">
                    <label class="label-mat-form">Nombre DBA <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_nombrecorto">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Nombre Legal <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_razonsocial">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Identificación de la empresa <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="empresa_tipodni">
                            <mat-option value="">Seleccione..</mat-option>
                            <mat-option [value]="tipo.codigo" *ngFor="let tipo of tipoDni">{{tipo.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Número identificación <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_dni">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Tipo Relación <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="empresa_tiporelacion">
                            <mat-option value="">Seleccione..</mat-option>
                            <mat-option [value]="tipo.codigo" *ngFor="let tipo of tipoRelacion">{{tipo.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">País <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="pais_codigo" (selectionChange)="onChange($event)">
                            <mat-option value="">Seleccione</mat-option>
                            <mat-option [value]="pais.codigo" *ngFor="let pais of paises">{{pais.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Estado <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="estado_codigo" (selectionChange)="onChange($event)">
                            <mat-option value="">Seleccione</mat-option>
                            <mat-option [value]="estado.codigo" *ngFor="let estado of estados">{{estado.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Ciudad <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="ciudad_codigo">
                            <mat-option value="">Seleccione</mat-option>
                            <mat-option [value]="ciudad.codigo" *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Dirección 1 <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_direccion1">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Dirección 2 </label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_direccion2">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Email <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_correo">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Teléfono <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_telefono1" [mask]="maskphone">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Ext. Teléfono </label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_telefonoext1">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Teléfono 2 </label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_telefono2" [mask]="maskphone">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Ext. Teléfono 2 </label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_telefonoext2">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Web </label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <input matInput formControlName="empresa_web">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="label-mat-form">Status <span class="required">*</span></label>
                    <mat-form-field class="input-full-width col-md-12" appearance="outline">
                        <mat-select formControlName="empresa_estado">
                            <mat-option value="">Seleccione..</mat-option>
                            <mat-option [value]="status.codigo" *ngFor="let status of status">{{status.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <div class="text-center col-12">
            <button *ngIf="view == 'update'" mat-button class="btn btn-green" style="padding:8px 10px;" (click)="onSubmitUpdate()">Guardar</button>
            <button *ngIf="view == 'create'" mat-button class="btn btn-green" style="padding:8px 10px;" (click)="onSubmit()">Guardar</button>
            <button mat-button class="btn btn-red" style="padding:8px 10px;" (click)="closeDialog()">Cancelar</button>
        </div>
    </div>
</div>